/* registery form */

form .input-group {
    margin: 5px;
}

.registerBox {
    padding: 20px;
}

.registerBox form {
    margin-bottom: 5px;
}


/* general css */

section {
    padding: 100px 0;
}

p {
    padding: 20px 5px;
}

.bgDark {
    background-color: rgba(157, 195, 225, 0.4);
}

.glyphiconBig {
    font-size: 60px;
    color: #4c91cd;
}

.glyphiconReallyBig {
    font-size: 100px;
    color: #4c91cd;
    margin-top: 59px;
}

section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

section ul li {
    border-top: 1px solid rgba(48, 48, 48, 0.25);
    padding: 10px 0;
}


/* slide stuff */

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
